@charset "utf-8";
/* CSS Document */

#loginWrapper{
	margin:0 auto;
	margin-top:150px;
}
#loginScreen{
	background:url(../images/login.gif) no-repeat center #F9F4F9;
	width:288px;
	height:135px;
	text-align:left;
	padding-left:40px;
	padding-top:3px;
	padding-bottom:5px;
	border:1px solid #AB5DAB;
}
#loginScreen input{
	width:125px;
}
#loginScreen table tr{
	line-height:25px;
}
.login-er-wrap{
	height:27px;
	margin-top:4px;
}
.l-input{
	width:130px !important;
	height:23px;
}
.l-input:hover{
	height:23px;
}